{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="fuzzy">
    <meta name="keywords" content="fuzzy">
    <meta name="author" content="fuzzy">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="assets/images/logo/favicon.png" type="image/x-icon">
    <title>fuzzy app</title>
    <link rel="apple-touch-icon" href="assets/images/logo/favicon.png">
    <meta name="theme-color" content="#122636">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="fuzzy">
    <meta name="msapplication-TileImage" content="assets/images/logo/favicon.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="../css2-7?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'mobile/vender/bootstrap/css/bootstrap.min.css'%}">

    <link rel="stylesheet" href="{% static 'mobile/vender/icofont/icofont.min.css'%}">
    
    
    <link rel="stylesheet" href="{% static 'mobile/css/style.css'%}">
    
  </head>

  <body>
    <!-- header start -->
    <header class="section-t-space">
      <div class="custom-container">
        <div class="header-panel">
          <a href="{% url 'index' %}">
            <i class="iconsax back-btn" data-icon="arrow-left"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.57141 18.8211C9.38141 18.8211 9.19141 18.7511 9.04141 18.6011L2.97141 12.5311C2.68141 12.2411 2.68141 11.7611 2.97141 11.4711L9.04141 5.40109C9.33141 5.11109 9.81141 5.11109 10.1014 5.40109C10.3914 5.69109 10.3914 6.17109 10.1014 6.46109L4.56141 12.0011L10.1014 17.5411C10.3914 17.8311 10.3914 18.3111 10.1014 18.6011C9.96141 18.7511 9.76141 18.8211 9.57141 18.8211Z" fill="#292D32"></path>
                <path d="M20.5019 12.75H3.67188C3.26188 12.75 2.92188 12.41 2.92188 12C2.92188 11.59 3.26188 11.25 3.67188 11.25H20.5019C20.9119 11.25 21.2519 11.59 21.2519 12C21.2519 12.41 20.9119 12.75 20.5019 12.75Z" fill="#292D32"></path>
                </svg>
                </i>
          </a>
          <h3 style="font-size:15px;" >Cart</h3>
        </div>
      </div>
    </header>
    <!-- header end -->

    <!-- cart section start -->
    <section>
      <div class="custom-container">
        <ul class="horizontal-product-list">
            {% for i in order_in_cart.items.all %}

            <li class="cart-product-box">
                <div class="horizontal-product-box">
                <div class="horizontal-product-img">
                    <a href="product-details.html">
                    <img class="img-fluid img" src="{{i.product.main_image.url}}" alt="p11">
                    </a>
                </div>
                <div class="horizontal-product-details">
                    <div class="d-flex align-items-center justify-content-between">
                    <a href="product-details.html">
                        <h4>{{i.product.name}}</h4>
                    </a>
                    <form method="post">
                        {% csrf_token%}
                        <input type="hidden" name="remove" value="1">
                        <input type="hidden" name="product" value="{{i.id}}">
                         <button class="btn btn-animation proceed-btn fw-bold" style=" padding: 7px 15px; font-size: 12px; margin-top: 4px; " type="submit">
                            <i class="iconsax trash" data-icon="trash">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21 5.97998C17.67 5.64998 14.32 5.47998 10.98 5.47998C9 5.47998 7.02 5.57998 5.04 5.77998L3 5.97998" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M8.5 4.97L8.72 3.66C8.88 2.71 9 2 10.69 2H13.31C15 2 15.13 2.75 15.28 3.67L15.5 4.97" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M18.85 9.14001L18.2 19.21C18.09 20.78 18 22 15.21 22H8.79002C6.00002 22 5.91002 20.78 5.80002 19.21L5.15002 9.14001" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M10.33 16.5H13.66" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M9.5 12.5H14.5" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </i>
                        </button>
                    </form>

                    </div>
                    <ul class="product-info">
                    <li>Kateqoriya : {{i.product.category.first.name}}</li>
                    </ul>

                    <div class="d-flex align-items-center justify-content-between mt-3">
                    <div class="d-flex align-items-center gap-2">
                        <h3 class="fw-semibold">₼ {{i.unit_price}}</h3>
                    </div>
                    <div class="plus-minus">
                        <button onclick="updateQuantity({{i.id}}, -1)" class="sub plus-minus-button">
                            <i class="iconsax" data-icon="minus"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 12H18" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </i>
                        </button>
                        <input id="currentqty{{i.id}}" type="number" value="{{i.quantity}}" min="1" max="10" class="form-control input-number qty-input">
                        <button onclick="updateQuantity({{i.id}}, 1)" class="add plus-minus-button">
                            <i class="iconsax" data-icon="add"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 12H18" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M12 18V6" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </i>
                        </button>
                    </div>
                    <script>
                        function updatePrice(itemId, price) {
                            var currentQty = parseInt(document.getElementById('currentqty' + itemId).value);
                            var updatedTotal = currentQty * price;
                    
                            if (!isNaN(updatedTotal)) {
                                document.getElementById('productPrice' + itemId).innerText = "₼ " + updatedTotal.toFixed(2);
                            }
                        }
                    
                        function updateQuantity(itemId, change, price) {
                            var currentQty = parseInt(document.getElementById('currentqty' + itemId).value);
                            var updatedQty = currentQty + change;
                    
                            if (updatedQty >= 1 && updatedQty <= 10) {
                                document.getElementById('currentqty' + itemId).value = updatedQty;
                    
                                updatePrice(itemId, price);
                    
                            }
                        }
                    </script>                                        
                    </div>
                </div>
                </div>
            </li>
          
            {% endfor %}
        </ul>
      </div>
    </section>
    <!-- cart section end -->

    <!-- cart bottom start -->
    <div class="pay-popup">
      <div class="price-items">
        <h6>Yekun Məbləğ</h6>
        <h2>₼ {{order_in_cart.get_cart_total}}</h2>
    </div>
      <a  onclick="location.href = '{% url 'checkout'%}';" class="btn btn-lg theme-btn pay-btn mt-0">Sifarişi Tamamla</a>
    </div>
    <!-- cart bottom end -->

    <!-- panel-space start -->
    <section class="panel-space"></section>
    <!-- panel-space end -->
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js'%}"></script><script src="{% static 'mobile/vender/bootstrap/js/bootstrap.bundle.min.js'%}" type="ce94a9a36d1b23ed31aafdea-text/javascript"></script>

    <script src="{% static 'mobile/vender/jquery/jquery.min.js'%}" type="ce94a9a36d1b23ed31aafdea-text/javascript"></script>
    
    <script src="{% static 'mobile/vender/sidebar/hc-offcanvas-nav.js'%}" type="ce94a9a36d1b23ed31aafdea-text/javascript"></script>
    
    <script src="{% static 'mobile/js/custom.js'%}" type="ce94a9a36d1b23ed31aafdea-text/javascript"></script>
    <script src="../../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js'%}" data-cf-settings="ce94a9a36d1b23ed31aafdea-|49" defer=""></script><script defer="" src="../../beacon.min.js/v52afc6f149f6479b8c77fa569edb01181681764108816" integrity="sha512-jGCTpDpBAYDGNYR5ztKt4BQPGef1P0giN6ZGVUi835kFF88FOmmn8jBQWNgrNd8g/Yu421NdgWhwQoaOPFflDw==" data-cf-beacon='{"rayId":"7bf7ed0d4e0a8ec8","version":"2023.4.0","r":1,"b":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","si":100}' crossorigin="anonymous"></script>
    
  </body>
</html>