{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="fuzzy">
    <meta name="keywords" content="fuzzy">
    <meta name="author" content="fuzzy">
    <link rel="icon" href="assets/images/logo/favicon.png" type="image/x-icon">
    <title>fuzzy app</title>
    <link rel="apple-touch-icon" href="assets/images/logo/favicon.png">
    <meta name="theme-color" content="#122636">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="fuzzy">
    <meta name="msapplication-TileImage" content="assets/images/logo/favicon.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="../css2-7?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

   
    <link rel="stylesheet" href="{% static 'mobile/vender/bootstrap/css/bootstrap.min.css'%}">

    <link rel="stylesheet" href="{% static 'mobile/vender/icofont/icofont.min.css'%}">
    
    
    <link rel="stylesheet" href="{% static 'mobile/css/style.css'%}">
  </head>
  </head>

  <body>
    <!-- header start -->
    <header class="section-t-space">
      <div class="custom-container">
        <div class="header-panel">
          <a href="{% url 'cart' %}">
            <i class="iconsax back-btn" data-icon="arrow-left"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.57141 18.8211C9.38141 18.8211 9.19141 18.7511 9.04141 18.6011L2.97141 12.5311C2.68141 12.2411 2.68141 11.7611 2.97141 11.4711L9.04141 5.40109C9.33141 5.11109 9.81141 5.11109 10.1014 5.40109C10.3914 5.69109 10.3914 6.17109 10.1014 6.46109L4.56141 12.0011L10.1014 17.5411C10.3914 17.8311 10.3914 18.3111 10.1014 18.6011C9.96141 18.7511 9.76141 18.8211 9.57141 18.8211Z" fill="#292D32"></path>
                <path d="M20.5019 12.75H3.67188C3.26188 12.75 2.92188 12.41 2.92188 12C2.92188 11.59 3.26188 11.25 3.67188 11.25H20.5019C20.9119 11.25 21.2519 11.59 21.2519 12C21.2519 12.41 20.9119 12.75 20.5019 12.75Z" fill="#292D32"></path>
                </svg>
                </i>
          </a>
          <h3 style="font-size:15px;">Ödəniş Növü</h3>
        </div>
      </div>
    </header>
    <!-- header end -->

    <!-- payment method section start -->
    <section class="payment-method section-lg-b-space">
      <div class="custom-container">
        <h2 class="fw-semibold theme-color">Ödəniş növü</h2>

        <ul class="payment-list section-lg-b-space">
          <li class="cart-add-box payment-card-box gap-0 mt-3">
            <div class="payment-detail border-bottom-0">
              <label class="form-label" for="one">
                <span>
                  <span class="fw-normal theme-color card-heading">Bank köçürmə yolu ilə </span>
                  <span class="fw-normal card-sub-heading">Müqavilə zamanı bağlanan müqavilədə qeyd oluna bank hesabına köçürülməsi.

                  </span>
                </span>
              </label>
              <div class="form-check">
                <input id="one" class="form-check-input" type="radio" name="flexRadioDefault" checked="">
              </div>
            </div>
          </li>
          <li class="cart-add-box payment-card-box gap-0 mt-3">
            <div class="payment-detail border-bottom-0">
              <label class="form-label" for="two">
                <span>
                  <span class="fw-normal theme-color card-heading">Çatdırılma zamanı nağd ödəmə</span>
                  <span class="fw-normal card-sub-heading">Çatdırılma zamanı ödəniş nağd şəkildə qəbul ediləcək.</span>
                </span>
              </label>
              <div class="form-check">
                <input id="two" class="form-check-input" type="radio" name="flexRadioDefault">
              </div>
            </div>
          </li>
        </ul>


        
      </div>
    </section>
    <!-- payment method section end -->

    <!-- pay popup start -->
    <div class="pay-popup">
      <div class="price-items">
        <h6>Ödəniləcək Məbləğ</h6>
        <h2>₼ {{order_in_cart.get_cart_total}}</h2>
      </div>
      <a href="#success" class="btn btn-lg theme-btn pay-btn mt-0" data-bs-toggle="modal">Ödəmək</a>
    </div>
    <!-- pay popup end -->

    <!-- success payment modal start -->
    <div class="modal fade success-modal" id="success" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <div class="confirm-title text-center">
              <img class="img-fluid confirm-offer" src="{% static 'mobile/img/success.gif' %}" alt="success-payment">

              <h2 class="theme-color text-center fw-medium mt-2">Sifariş Qəbul Olundu.</h2>
              <h5 class="light-text fw-normal lh-base text-center w-100 mt-2 mx-auto">Sifarişi dəqiqləşdirmək üçün sizinlə əlaqə saxlanılacaq.</h5>
            </div>

            <a href="/" class="btn theme-btn w-100 mt-4" role="button">Sifariş Nömrəsi: #0000{{ order_in_cart.id }}</a>

            <a href="{% url 'index' %}" class="btn gray-btn mt-3">Alış verişə davam et !</a>
          </div>
        </div>
      </div>
    </div>
    <!-- susses payment modal end -->

    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js'%}"></script><script src="{% static 'mobile/vender/bootstrap/js/bootstrap.bundle.min.js'%}" type="ce94a9a36d1b23ed31aafdea-text/javascript"></script>

    <script src="{% static 'mobile/vender/jquery/jquery.min.js'%}" type="ce94a9a36d1b23ed31aafdea-text/javascript"></script>
    
    <script src="{% static 'mobile/vender/sidebar/hc-offcanvas-nav.js'%}" type="ce94a9a36d1b23ed31aafdea-text/javascript"></script>
    
    <script src="{% static 'mobile/js/custom.js'%}" type="ce94a9a36d1b23ed31aafdea-text/javascript"></script>
    <script src="../../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js'%}" data-cf-settings="ce94a9a36d1b23ed31aafdea-|49" defer=""></script><script defer="" src="../../beacon.min.js/v52afc6f149f6479b8c77fa569edb01181681764108816" integrity="sha512-jGCTpDpBAYDGNYR5ztKt4BQPGef1P0giN6ZGVUi835kFF88FOmmn8jBQWNgrNd8g/Yu421NdgWhwQoaOPFflDw==" data-cf-beacon='{"rayId":"7bf7ed0d4e0a8ec8","version":"2023.4.0","r":1,"b":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","si":100}' crossorigin="anonymous"></script>
   
  </body>
</html>
