{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="img/logo.png'%}" type="image/png">
<title>Foodmart - Food & Grocery Delivery Mobile Template</title>

<link rel="stylesheet" href="{% static 'mobile/vender/bootstrap/css/bootstrap.min.css'%}">

<link rel="stylesheet" href="{% static 'mobile/vender/icofont/icofont.min.css'%}">

<link rel="stylesheet" href="{% static 'mobile/vender/slick/slick/slick.css'%}">
<link rel="stylesheet" href="{% static 'mobile/vender/slick/slick/slick-theme.css'%}">

<link rel="stylesheet" href="{% static 'mobile/vender/sidebar/demo.css'%}">

<link rel="stylesheet" href="{% static 'mobile/css/style.css'%}">
</head>
<body class="bg-light">
<div class="product-details d-flex flex-column vh-100">

<div class="d-flex align-items-center gap-3 p-3 bg-primary">
<a href="index.html" class="text-white"><i class="bi bi-arrow-left fs-5"></i></a>
<div>
<h6 class="fw-bold text-white mb-0">Uncle Chips</h6>
<p class="text-white-50 small m-0">Foodmart</p>
</div>
<div class="d-flex align-items-center gap-2 ms-auto">
<a href="profile.html" class="link-dark">
<div class="bg-dark bg-opacity-75 rounded-circle user-icon"><i class="bi bi-person d-flex m-0 h4 text-white"></i></div>
</a>
<a class="toggle hc-nav-trigger hc-nav-1" href="#" role="button" aria-controls="hc-nav-1">
<b class="bg-dark bg-opacity-75 rounded-circle user-icon">
<i class="bi bi-list d-flex m-0 h4 text-white"></i>
</b>
</a>
</div>
</div>

<div class="vh-100 my-auto overflow-auto">
<div class="bg-white shadow-sm p-3 mb-3">
<div class="product-slider">
<div class="product-item">
<img src="{% static 'mobile/img/product-detail-1.png'%}" alt="" class="img-fluid mx-auto">
</div>
<div class="product-item">
<img src="{% static 'mobile/img/product-detail-2.png'%}" alt="" class="img-fluid mx-auto">
</div>
<div class="product-item">
<img src="{% static 'mobile/img/product-detail-3.png'%}" alt="" class="img-fluid mx-auto">
</div>
</div>

<div class="pt-4">
<p class="text-primary mb-1">Uncle Chips</p>
<h5 class="fw-bold text-black lh-base">Uncle Chipps Potato Chips - Plain Salted Flavour, Crispy Snacks, 50 g Pouch
</h5>
</div>
<div class="d-flex align-items-center justify-content-between">
<div class="mb-0">
<p class="text-muted mb-1">50 g</p>
<h6 class="mb-0">$20 <small>(Inclusive of all taxes)</small></h6>
</div>
<div>
</div>
</div>
</div>

<div class="bg-white shadow-sm p-3">
<h6 class="fw-bold mb-2">Important Information</h6>
<p class="text-muted m-0">Treat yourself to some delicious, crunchy, perfectly salted chips! Uncle Chipps is undeniably everyone’s favourite! For years, they have been around and have been a constant source of fun and pleasant memories. Made from the best quality potatoes and simply seasoned with salt, Uncle Chipps are a flavorful delight! Enjoy watching your favourite programs with a bag of Uncle Chipps or have this delicious treat on your quick work break. These chips are just perfect to snack on and their irresistible flavour makes them the ideal go-to treat.
</p>
</div>
</div>
<div class="mt-auto bg-white p-3">
<a href="cart.html" class="btn btn-success w-100 text-uppercase btn-lg fw-bold">ADD TO CART</a>
</div>
</div>

<nav id="main-nav">
<ul class="second-nav">
<li class="osahan-user-profile bg-primary">
<div class="d-flex align-items-center gap-2">
<img src="{% static 'mobile/img/delivery-boy.jpg'%}" alt="" class="rounded-pill img-fluid">
<div class="ps-1">
<h5 class="fw-bold text-white osahan-mb-1">Black Smith</h5>
<p class="text-white-50 m-0">+91 12345-67890</p>
</div>
</div>
</li>
<li><a href="index.html"><i class="bi bi-house me-3"></i>Homepage</a></li>
<li><a href="listing.html"><i class="bi bi-grid me-3"></i>Listing</a></li>
<li><a href="product-detail.html"><i class="bi bi-file-break me-3"></i>Product Detail</a></li>
<li><a href="cart.html"><i class="bi bi-basket me-3"></i>Cart</a></li>
<li><a href="payment-option.html"><i class="bi bi-credit-card me-3"></i>Payment Option</a></li>
<li><a href="payment-details.html"><i class="bi bi-stopwatch me-3"></i>Payment Time</a></li>
<li><a href="order-received.html"><i class="bi bi-check-circle me-3"></i>Order Received</a></li>
<li><a href="track-order.html"><i class="bi bi-truck me-3"></i>Track Order</a></li>
<li><a href="track-delivery-boy.html"><i class="bi bi-person-vcard me-3"></i>Track Delivery Boy</a></li>
<li><a href="profile.html"><i class="bi bi-person me-3"></i>Profile</a></li>
<li><a href="order-detail.html"><i class="bi bi-receipt me-3"></i>Order Details</a></li>
<li>
<a href="#"><i class='bi bi-link me-3'></i>Example Multi Link</a>
<ul>
<li><a href="#">Link</a></li>
<li><a href="#">Link</a></li>
</ul>
</li>
</ul>
<ul class="bottom-nav">
<li class="home">
<a href="index.html" class="text-primary">
<p class="h5 m-0"><i class="bi bi-house"></i></p>
Home
</a>
</li>
<li class="cart">
<a href="cart.html">
<p class="h5 m-0"><i class="bi bi-basket"></i></p>
Cart
</a>
</li>
<li class="profile">
<a href="profile.html">
<p class="h5 m-0"><i class="bi bi-person"></i></p>
Profile
</a>
</li>
</ul>
</nav>

<script src="{% static 'mobile/vender/bootstrap/js/bootstrap.bundle.min.js'%}" type="54970da9bf87db8a97990235-text/javascript"></script>

<script src="{% static 'mobile/vender/jquery/jquery.min.js'%}" type="54970da9bf87db8a97990235-text/javascript"></script>

<script src="{% static 'mobile/vender/slick/slick/slick.min.js'%}" type="54970da9bf87db8a97990235-text/javascript"></script>

<script src="{% static 'mobile/vender/sidebar/hc-offcanvas-nav.js'%}" type="54970da9bf87db8a97990235-text/javascript"></script>

<script src="{% static 'mobile/js/custom.js'%}" type="54970da9bf87db8a97990235-text/javascript"></script>
<script src="../../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js'%}" data-cf-settings="54970da9bf87db8a97990235-|49" defer=""></script><script defer="" src="../../beacon.min.js/v52afc6f149f6479b8c77fa569edb01181681764108816" integrity="sha512-jGCTpDpBAYDGNYR5ztKt4BQPGef1P0giN6ZGVUi835kFF88FOmmn8jBQWNgrNd8g/Yu421NdgWhwQoaOPFflDw==" data-cf-beacon='{"rayId":"7bf7ed145c158ec8","version":"2023.4.0","r":1,"b":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","si":100}' crossorigin="anonymous"></script>
</body>
</html>