{% load static %}
{% include 'desktop/layouts/header.html' %} 


    <!-- Breadcrumb Section Start -->
    <section class="breadscrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadscrumb-contain">
                        <h2>Sifariş Siyahısı</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'index'%}">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Sifariş Siyahısı</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Cart Section Start -->
    <section class="cart-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row g-sm-5 g-3">
                <div class="col-xxl-9">
                    <div class="cart-table">
                        <div class="table-responsive-xl">
                            <table class="table">
                                <tbody>
                                {% for i in order_in_cart.items.all %}
                                    <tr class="product-box-contain">
                                        <td class="product-detail">
                                            <div class="product border-0">
                                                <a href="product-left-thumbnail.html" class="product-image">
                                                    <img src="{{i.product.main_image.url}}" class="img-fluid blur-up lazyload" alt="">
                                                </a>
                                                <div class="product-detail">
                                                    <ul>
                                                        <li class="name">
                                                            <a href="product-left-thumbnail.html">{{i.product.name}}</a>
                                                        </li>

                                                        <li class="text-content"><span class="text-title">Kateqoriya:</span>
                                                            {{i.product.category.first.name}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="price">
                                            <h4 class="table-title text-content">Qiymət</h4>
                                            <h5>₼ {{i.unit_price}}</h5>

                                        </td>

                                        <td class="quantity">
                                            <h4 class="table-title text-content">Miqdar</h4>
                                            <div class="quantity-price">
                                                <div class="cart_qty">
                                                    <div class="input-group">
                                                        <button id="minus{{i.id}}" onclick="miqdarminus{{i.id}}()" type="button" class="btn qty-left-minus" data-type="minus" data-field="">
                                                            <i class="fa fa-minus ms-0" aria-hidden="true"></i>
                                                        </button>
                                                        <input id="currentqty{{i.id}}" class="form-control input-number qty-input" type="text" name="quantity" value="{{i.quantity}}">
                                                        <button id="plus{{i.id}}" onclick="miqdarplus{{i.id}}()" type="button" class="btn qty-right-plus" data-type="plus" data-field="">
                                                            <i class="fa fa-plus ms-0" aria-hidden="true"></i>
                                                        </button>

                                                        <script>
                                                            function miqdarplus{{i.id}}() {
                                                          var currentqty{{i.id}} = document.getElementById('currentqty{{i.id}}').value
                                                          document.getElementById('itemqty{{i.id}}').value = parseInt(currentqty{{i.id}}) + parseInt(1)
                                                          document.getElementById('currentqty{{i.id}}').value = parseInt(currentqty{{i.id}})

                                                        }

                                                        function miqdarminus{{i.id}}() {
                                                          var currentqty{{i.id}} = document.getElementById('currentqty{{i.id}}').value
                                                          document.getElementById('itemqty{{i.id}}').value = parseInt(currentqty{{i.id}}) - parseInt(1)
                                                          document.getElementById('currentqty{{i.id}}').value = parseInt(currentqty{{i.id}})


                                                        }
                                                        </script>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="subtotal">
                                            <h4 class="table-title text-content">Cəmi</h4>
                                            <h5>₼ {{i.total_price}}</h5>
                                        </td>

                                        <td class="save-remove">
                                            <form method="post">
                                                {% csrf_token%}
                                                <input type="hidden" name="update" value="1">
                                                <input type="hidden" name="product" id="item{{i.id}}" value="{{i.id}}">
                                                <input type="hidden" name="qty" id="itemqty{{i.id}}" value="5">
                                                 <button class="btn btn-light shopping-button text-dark" style=" background-color: white; border-color: #8c8c8c !important; border-width: 1px; border-style: solid;padding: 7px 15px; font-size: 12px; margin-top: 4px; " type="submit">Miqdarı yenilə</button>
                                            </form>
                                            <form method="post">
                                                {% csrf_token%}
                                                <input type="hidden" name="remove" value="1">
                                                <input type="hidden" name="product" value="{{i.id}}">
                                                 <button class="btn btn-animation proceed-btn fw-bold" style=" padding: 7px 15px; font-size: 12px; margin-top: 4px; " type="submit">Məhsulu sil</button>
                                            </form>

                                        </td>
                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-3">
                    <div class="summery-box p-sticky">
                        <div class="summery-header">
                            <h3>Sifariş Məbləği</h3>
                        </div>

                        <div class="summery-contain">

                            <ul>
                                <li>
                                    <h4>Cəmi Məbləğ</h4>
                                    <h4 class="price">₼ {{order_in_cart.get_cart_total}}</h4>
                                </li>

                                <li>
                                    <h4>Endirim</h4>
                                    <h4 class="price">(-) 0.00</h4>
                                </li>

                                <li class="align-items-start">
                                    <h4>Çatdırılma Məbləği</h4>
                                    <h4 class="price text-end">₼ 0.00</h4>
                                </li>
                            </ul>
                        </div>

                        <ul class="summery-total">
                            <li class="list-total border-top-0">
                                <h4>Yekun Məbləğ</h4>
                                <h4 class="price theme-color">₼ {{order_in_cart.get_cart_total}}</h4>
                            </li>
                        </ul>

                        <div class="button-group cart-button">
                            <ul>
                                <li>
                                    <button onclick="location.href = '{% url 'checkout'%}';" class="btn btn-animation proceed-btn fw-bold">Sifarişi Tamamla</button>
                                </li>

                                <li>
                                    <button onclick="location.href = '{% url 'index'%}';" class="btn btn-light shopping-button text-dark">
                                        <i class="fa-solid fa-arrow-left-long"></i>Alış-verişə davam</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Cart Section End -->

    <!-- Footer Section Start -->
    <footer class="section-t-space footer-section-2 footer-color-3">
        <div class="container-fluid-lg">

            <div class="main-footer">
                <div class="row g-md-4 gy-sm-5">
                    <div class="col-xxl-3 col-xl-4 col-sm-6">
                        <a href="{% url 'index'%}" class="foot-logo theme-logo">
                            <img src="{{general.logo.url}}" class="img-fluid blur-up lazyload" alt="">
                        </a>
                        <p class="information-text information-text-2">Supermarket, meyvə və tərəvəz, uşaqlarınız üçün hərşey, kosmetika, özünə qulluq və s. kimi ehtiyaclarınızı Vumart.az'dan onlayn ala bilərsiniz!</p>
                        <ul class="social-icon">
                            <li class="light-bg">
                                <a href="https://www.facebook.com/meduzaaz" target="_blank" class="footer-link-color">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="light-bg">
                                <a href="https://www.instagram.com/meduzaaz" target="_blank" class="footer-link-color">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li class="light-bg">
                                <a href="https://www.linkedin.com/meduzaaz" target="_blank" class="footer-link-color">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="light-bg">
                                <a href="mailto:info@vumart.az" class="footer-link-color">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div class="col-xxl-2 col-xl-4 col-sm-6">
                        <div class="footer-title">
                            <h4 class="text-white">Şirkət</h4>
                        </div>
                        <ul class="footer-list footer-contact footer-list-light">
                            <li>
                                <a href="about-us.html" class="light-text">Haqqımızda</a>
                            </li>
                            <li>
                                <a href="contact-us.html" class="light-text">Bizimlə Əlaqə</a>
                            </li>
                            <li>
                                <a href="term_condition.html" class="light-text">Şərtlər və İstifadə Qaydaları</a>
                            </li>
                            <li>
                                <a href="careers.html" class="light-text">Karyera</a>
                            </li>
                            <li>
                                <a href="blog-list.html" class="light-text">Bloq Yazıları</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xxl-2 col-xl-4 col-sm-6">
                        <div class="footer-title">
                            <h4 class="text-white">Şəxsi Kabinet</h4>
                        </div>
                        <ul class="footer-list footer-list-light footer-contact">
                            <li>
                                <a href="order-success.html" class="light-text">Son Sifarişlər</a>
                            </li>
                            <li>
                                <a href="user-dashboard.html" class="light-text">Profil</a>
                            </li>
                            <li>
                                <a href="order-tracking.html" class="light-text">Ünvanlar</a>
                            </li>
                            <li>
                                <a href="wishlist.html" class="light-text">Sevimlilər Listi</a>
                            </li>
                            <li>
                                <a href="faq.html" class="light-text">Şəxsi Məlumatlar</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xxl-2 col-xl-4 col-sm-6">
                        <div class="footer-title">
                            <h4 class="text-white">Kateqoriyalar</h4>
                        </div>
                        <ul class="footer-list footer-list-light footer-contact">
                            <li>
                                <a href="vegetables-demo.html" class="light-text">Yeni Məhsullar</a>
                            </li>
                            <li>
                                <a href="spice-demo.html" class="light-text">Endirimli Məhsullar</a>
                            </li>
                            <li>
                                <a href="bags-demo.html" class="light-text">Markalar</a>
                            </li>
                            <li>
                                <a href="bakery-demo.html" class="light-text">Kampaniyalar</a>
                            </li>
                            <li>
                                <a href="grocery-demo.html" class="light-text">Topdan Məhsullar</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xxl-3 col-xl-4 col-sm-6">
                        <div class="footer-title">
                            <h4 class="text-white">Əlaqə Məlumatları</h4>
                        </div>
                        <ul class="footer-address footer-contact">
                            <li>
                                <a href="javascript:void(0)" class="light-text">
                                    <div class="inform-box flex-start-box">
                                        <i data-feather="map-pin"></i>
                                        <p>{{general.address}}</p>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)" class="light-text">
                                    <div class="inform-box">
                                        <i data-feather="phone"></i>
                                        <p>Zəng üçün: +994 55 555 55 55</p>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)" class="light-text">
                                    <div class="inform-box">
                                        <i data-feather="mail"></i>
                                        <p>Email: info@vumart.az</p>
                                    </div>
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>

            <div class="sub-footer sub-footer-lite section-b-space section-t-space">
                <div class="left-footer">
                    <p class="light-text">2023 © Vumart.az - Bütün hüquqlar qorunur!</p>
                </div>

                <ul class="payment-box">
                    <li>
                        <img src="{% static 'desktop/images/icon/paymant/visa.png'%}" class="blur-up lazyload" alt="">
                    </li>
                    <li>
                        <img src="{% static 'desktop/images/icon/paymant/discover.png'%}" alt="" class="blur-up lazyload">
                    </li>
                    <li>
                        <img src="{% static 'desktop/images/icon/paymant/american.png'%}" alt="" class="blur-up lazyload">
                    </li>
                    <li>
                        <img src="{% static 'desktop/images/icon/paymant/master-card.png'%}" alt="" class="blur-up lazyload">
                    </li>
                    <li>
                        <img src="{% static 'desktop/images/icon/paymant/giro-pay.png'%}" alt="" class="blur-up lazyload">
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
      <!-- Location Modal Start -->
    <div class="modal location-modal fade theme-modal" id="locationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down" style="max-width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body" style="padding-top: 0px;">
                    <div class="location-list">

                             <div class="">
            <div class="row g-sm-4 g-3" style=" justify-content: center; ">
                <div class="catt col-xxl-2 col-xl-4 d-none d-xl-block">
                      <div style="padding: 6px 0 0px 0;border-radius: 6px;background-color:#ecf0f4; border: 1px solid #e4e4e4;">
                            <a href="{% url 'kampaniyalar'%}" class=" ">
                                <div style=" text-align: center; ">
                                    <img src="{% static 'desktop/kampaniya.svg'%}" class="  lazyload" alt="" style="width: 84px;padding: 11px 11px 8px 11px;">
                                    <hr style=" width: 80%; margin-left: auto; margin-right: auto; color: #999999; ">
                                    <h5 style="font-size: 10px; color: #272727; font-family: system-ui; font-weight: 600;">Kampaniyalar</h5>
                                    <p style="    margin-top: 7px;font-size: 9px; line-height: 6px; color: #5d7a90 !important; ">{{kampaniya_quantity}} məhsul</p>
                                </div>
                            </a>
                        </div>
                </div>

                <div class="catt col-xxl-2 col-xl-4 d-none d-xl-block">
                      <div style="padding: 6px 0 0px 0;border-radius: 6px;background-color:#ecf0f4; border: 1px solid #e4e4e4;">
                            <a href="{% url 'yenimehsullar'%}" class=" ">
                                <div style=" text-align: center; ">
                                    <img src="{% static 'desktop/yeni.svg'%}" class="  lazyload" alt=""style="width: 84px;padding: 11px 11px 8px 11px;">
                                    <hr style=" width: 80%; margin-left: auto; margin-right: auto; color: #999999; ">
                                    <h5 style="font-size: 10px; color: #272727; font-family: system-ui; font-weight: 600; ">Yeni Məhsullar</h5>
                                    <p style="    margin-top: 7px;font-size: 9px; line-height: 6px; color: #5d7a90 !important;">
                                        {{new_quantity}} məhsul</p>
                                </div>
                            </a>
                        </div>
                </div>

                {% for c in cats %}
                <div class="catt col-xxl-2 col-xl-4 d-none d-xl-block">
                      <div style="padding: 6px 0 0px 0;border-radius: 6px; border: 1px solid #e4e4e4;">
                            <a href="{% url 'category' c.id %}" class=" ">
                                <div style=" text-align: center; ">
                                    <img src="{{c.image.url}}" class="  lazyload" alt="" style=" width: 84px; ">
                                    <hr style=" width: 80%; margin-left: auto; margin-right: auto; color: #999999; ">
                                    <h5 style=" font-size: 10px;color: #272727; font-family: system-ui; font-weight: 600; ">{{c.name}}</h5>
                                    <p style="    margin-top: 7px;font-size: 9px; line-height: 6px; color: #5d7a90 !important;">{{c.product_count}} məhsul</p>
                                </div>
                            </a>
                        </div>
                </div>

                {% endfor%}
                 </div>
             </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Location Modal End -->

    <!-- Deal Box Modal Start -->
    <div class="modal fade theme-modal deal-modal" id="deal-box" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <h5 class="modal-title w-100" id="deal_today">Deal Today</h5>
                        <p class="mt-1 text-content">Recommended deals for you.</p>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="deal-offer-box">
                        <ul class="deal-offer-list">
                            <li class="list-1">
                                <div class="deal-offer-contain">
                                    <a href="shop-left-sidebar.html" class="deal-image">
                                        <img src="{% static 'desktop/images/vegetable/product/10.png'%}" class="blur-up lazyload" alt="">
                                    </a>

                                    <a href="shop-left-sidebar.html" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>

                            <li class="list-2">
                                <div class="deal-offer-contain">
                                    <a href="shop-left-sidebar.html" class="deal-image">
                                        <img src="{% static 'desktop/images/vegetable/product/11.png'%}" class="blur-up lazyload" alt="">
                                    </a>

                                    <a href="shop-left-sidebar.html" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>

                            <li class="list-3">
                                <div class="deal-offer-contain">
                                    <a href="shop-left-sidebar.html" class="deal-image">
                                        <img src="{% static 'desktop/images/vegetable/product/12.png'%}" class="blur-up lazyload" alt="">
                                    </a>

                                    <a href="shop-left-sidebar.html" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>

                            <li class="list-1">
                                <div class="deal-offer-contain">
                                    <a href="shop-left-sidebar.html" class="deal-image">
                                        <img src="{% static 'desktop/images/vegetable/product/13.png'%}" class="blur-up lazyload" alt="">
                                    </a>

                                    <a href="shop-left-sidebar.html" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Deal Box Modal End -->

    <!-- Tap to top start -->
    <div class="theme-option">
        <div class="setting-box">
            <button class="btn setting-button">
                <i class="fa-solid fa-gear"></i>
            </button>

            <div class="theme-setting-2">
                <div class="theme-box">
                    <ul>
                        <li>
                            <div class="setting-name">
                                <h4>Color</h4>
                            </div>
                            <div class="theme-setting-button color-picker">
                                <form class="form-control">
                                    <label for="colorPick" class="form-label mb-0">Theme Color</label>
                                    <input type="color" class="form-control form-control-color" id="colorPick" value="#0da487" title="Choose your color">
                                </form>
                            </div>
                        </li>

                        <li>
                            <div class="setting-name">
                                <h4>Dark</h4>
                            </div>
                            <div class="theme-setting-button">
                                <button class="btn btn-2 outline" id="darkButton">Dark</button>
                                <button class="btn btn-2 unline" id="lightButton">Light</button>
                            </div>
                        </li>

                        <li>
                            <div class="setting-name">
                                <h4>RTL</h4>
                            </div>
                            <div class="theme-setting-button rtl">
                                <button class="btn btn-2 rtl-unline">LTR</button>
                                <button class="btn btn-2 rtl-outline">RTL</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="back-to-top">
            <a id="back-to-top" href="#">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <!-- Tap to top end -->

    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->

    <!-- latest jquery-->
    <script src="{% static 'desktop/js/jquery-3.6.0.min.js'%}"></script>

    <!-- jquery ui-->
    <script src="{% static 'desktop/js/jquery-ui.min.js'%}"></script>

    <!-- Bootstrap js-->
    <script src="{% static 'desktop/js/bootstrap/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'desktop/js/bootstrap/popper.min.js'%}"></script>
    <script src="{% static 'desktop/js/bootstrap/bootstrap-notify.min.js'%}"></script>

    <!-- feather icon js-->
    <script src="{% static 'desktop/js/feather/feather.min.js'%}"></script>
    <script src="{% static 'desktop/js/feather/feather-icon.js'%}"></script>

    <!-- Lazyload Js -->
    <script src="{% static 'desktop/js/lazysizes.min.js'%}"></script>

    <!-- Slick js-->
    <script src="{% static 'desktop/js/slick/slick.js'%}"></script>
    <script src="{% static 'desktop/js/slick/custom_slick.js'%}"></script>

    <!-- Quantity js -->
    <script src="{% static 'desktop/js/quantity.js'%}"></script>

    <!-- script js -->
    <script src="{% static 'desktop/js/script.js'%}"></script>

    <!-- thme setting js -->
    <script src="{% static 'desktop/js/theme-setting.js'%}"></script>
</body>

</html>