{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="vumart">
  <meta name="keywords" content="vumart">
  <meta name="author" content="vumart">
  <link rel="manifest" href="manifest.json">
  <link rel="icon" href="assets/images/logo/favicon.png" type="image/x-icon">
  <title>vumart app</title>
  <link rel="apple-touch-icon" href="assets/images/logo/favicon.png">
  <meta name="theme-color" content="#122636">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="vumart">
  <meta name="msapplication-TileImage" content="assets/images/logo/favicon.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="../css2-7?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- iconsax css -->
  <link rel="stylesheet" href="{% static 'login/css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'login/css/ioform-style.css'%}">
  <link rel="stylesheet" href="{% static 'mobile/css/style.css'%}">
</head>

<body class="auth-body">
  <!-- login section start -->
  <div class="auth-img">
    <img class="img-fluid auth-bg" src="{% static 'login/images/auth_bg.jpg'%}" alt="auth_bg">
    <div class="auth-content">
      
    </div>
  </div>

  <h3 
  style="font-weight: 700; 
  text-align:center; 
  color: #fff;
  padding-top: 5rem;"> Müraciətiniz qeydə alındı.</h3>
  <br>
  <p 
  style="font-weight: 700; 
  text-align:center; 
  color: #fff;">Sizinlə əlaqə saxlanılacaq. Zəhmət olmasa gözləyin !</p>

  <p style="
  border: 1px solid #fff;
  width: auto;
  border-radius: 5rem;
  text-align: center;
  padding: 9px;
  color: #fff;
  ">
      Ana səhfəyə yönləndirilir . . . <span 
      style="
      padding-left: 35px; 
      color: yellow;" id="countdown">15 </span> saniyə</p>
  </p>

  <script>
      var seconds = 15;

      function countdown() {
          document.getElementById('countdown').innerHTML = seconds;

          if (seconds === 0) {
              window.location.href = "{% url 'index' %}";  
          } else {
              seconds--;
              setTimeout(countdown, 1000);
          }
      }

      countdown();
  </script>
</body>
</html>
